@media (max-width: 577px) {
  .header__menu {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }

  .hero__subtitle {
    line-height: 17px;
  }

  .hero__title {
    font-size: 43px;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    padding: 20px;
  }

  .header__menu.active {
    display: flex;
  }

  .header__burger-menu {
    display: block;
  }
}

@media (max-width: 476px) {
  .hero__title {
    font-size: 43px;
  }

  .our__card-body {
    font-size: 22px;
  }

  .our__card-text {
    font-size: 17px;
    line-height: 20px;
  }

  .price__min-card-prices {
    font-size: 18px;
    line-height: 32px;
  }

  .price__button {
    padding: 10px 25px;
  }
}

@media (max-width: 465px) {
  .header__card {
    display: none;
  }

  .area__text {
    font-size: 19px;
  }

  .price__lorem {
    line-height: 25px;
  }
}

@media (max-width: 1000px) {
  .our__wrapper {
    flex-wrap: wrap;
  }

  .area__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 376px) {
  .hero__title {
    font-size: 33px;
  }
}

@media (max-width: 533px) {
  .price__title2 {
    font-size: 32px;
  }
}

/* .............. */
@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 993px) {
  .card {
    width: 31%;
  }
}
